.carrito{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
}

div class .typeOne  {
    font-style: italic;
    font-size: x-large;                
}      